body {
  margin-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

#edit-form .table-row-heading {
  padding-top: 22px;
}
#edit-form .table-row-value {
  padding-top: 15px;
}

#edit-form textarea,
#edit-form input[type='text'] {
  border: 1px solid #ccc;
  width: 600px;
}
#edit-form input[type='text'] {
  line-height: 140%;
  height: 25px;
}

#edit-form input.admin-date-widget,
#edit-form input.admin-time-widget {
  width: 30%;
}

#edit-form h3 {
  font-weight: normal;
  text-align: center;
}

.mini-form {
  display: inline-block;
  margin: 0;
}

#edit-form .action-row td {
  padding-bottom: 15px;
}

.pagination {
  text-align: center;
}

/* jquery ui timepicker css */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div dt { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
/* end jquery ui timepicker css */

.boolean-field label {
  display: inline;
}
.boolean-field {
  height: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.boolean-field > li {
  display: block;
  float: left;
  padding: 4px;
}
.boolean-field > li > input {
  position: relative;
  top: -2px;
}

.admin-datetime {
  width: 40%;
}

.ui_tpicker_timezone select {
  width: auto;
}

.ajax_add_key_input {
  width: 40%;
}

.ajax_add_submit_input {
  position: relative;
  top: -4px;
}

.div-input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid #ccc;
  font: -moz-field;
  font: -webkit-small-control;
  font-size: 12px;
  height: 15px;
  margin-top: 5px;
  padding: 5px 6px;
  width: 586px;
}
.div-input-disabled {
  color: #ccc;
}

.help_text {
  color: #666;
  font-size: 90%;
  padding: 8px 0;
}

.link-button {
  margin-left: 4px;
}
