<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AppEngine Admin</title>
  <link rel='stylesheet' type='text/css' media='screen' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='{{ media_url }}/bootstrap/css/bootstrap{% if not DEBUG %}.min{% endif %}.css'/>
  <link rel='stylesheet' type='text/css' media='screen' href='{{ media_url }}/css/main.css'/>
</head>
<body>
  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ uri_for('index') }}">AppEngine Admin</a>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            Easily manage your datastore
          </p>
          {% from 'macros.html' import generate_breadcrumbs with context %}
          {{ generate_breadcrumbs(breadcrumbs) }}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Models</li>
{% for side_model_name in models %}
            <li{% if side_model_name == model_name %} class='active'{% endif %}><a href='{{ uri_for('list', model_name=side_model_name) }}'>{{ side_model_name }}</a></li>
{% endfor %}
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <div class="row-fluid">
          {% block title %}{% endblock %}
          {% set messages = get_messages() %}
          {% if messages %}
          <div class='messages'>
            {% for message in messages %}
              <div class='alert alert-success'>
                <button type='button' class='close' data-dismiss='alert'>x</button>
                <span class='alert-html-message'>{{ message|safe }}</span>
              </div>
            {% endfor %}
          </div>
          {% endif %}
          {% block content_top %}{% endblock %}
          {% block content %}{% endblock %}
          {% block content_bottom %}{% endblock %}
        </div><!--/row-->
      </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
      {% block footer %}{% endblock %}

      <p><a href='https://github.com/humble/appengine_admin'>AppEngine Admin</a></p>
      <p>Designed using Twitter Boostrap</p>
    </footer>

  </div><!--/.fluid-container-->

  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <script src='{{ media_url }}/js/jstz{% if not DEBUG %}.min{% endif %}.js'></script>
  <script src='{{ media_url }}/js/jquery-ui-timepicker-addon{% if not DEBUG %}.min{% endif %}.js'></script>
  <script src='{{ media_url }}/bootstrap/js/bootstrap{% if not DEBUG %}.min{% endif %}.js'></script>

  {% block javascript %}{% endblock %}
</body>
</html>
