{% extends "admin_base.html" %}

{% block content %}
<h2>Admin :: {{ moduleTitle }}</h2>
{% if item %}
<p class="createNew"><a href="{{ urlPrefix }}/{{ moduleTitle }}/new/">Create new</a>
    {% if item.get_absolute_url %}
         | <a href="{{ item.get_absolute_url }}">Preview in page &raquo;</a>
    {% endif %}
</p>
{% endif %}
<!-- Editable properties -->
<form id='edit-form' name="adminEditForm" method="post"
    action="{{ urlPrefix }}/{{ moduleTitle }}/{% if item %}edit/{{ item.key }}{% else %}new{% endif %}/"
    {% if editForm.enctype %}enctype="{{ editForm.enctype }}"{% endif %}>
<table class="editForm">
    <tr>
        <td colspan="2"><h3>Editable properties</h3></td>
    </tr>
    ----------
    {% autoescape off %}
        {{ editForm }}
    {% endautoescape %}

    <tr>
        <td>&nbsp;</td>
        <td>
            <div style="float:left; clear:left;" class="okButton">
                <input type="submit" value="OK"/>
            </div>
            {% if item %}
            <div style="float:right; clear:right;" class="deleteButton">
                <a href="{{ urlPrefix }}/{{ moduleTitle }}/delete/{{ item.key }}/" onclick='return confirm("Are you sure?");'>Delete</a>
            </div>
            {% endif %}
        </td>
    </tr>
    {% if item %}
    <!-- Readonly properties -->
    <tr>
        <td colspan="2"><h3>Read-only properties</h3></td>
    </tr>
    {% for field in readonlyProperties %}
        <tr>
            <td>{{ field.verbose_name }}:</td>
            <td>
            {% ifequal field.typeName "BlobProperty" %}
                {% if field.value %}
                <a href="{{urlPrefix}}/{{moduleTitle}}/get_blob_contents/{{field.name}}/{{ item.key }}/">File uploaded: {{field.meta.File_Name}}</a>
                {% else %}
                None
                {% endif %}
            {% else %}
            {{ field.value }}
            {% endifequal %}
            </td>
        </tr>
    {% endfor %}
    {% endif %}
</table>
</form>
{% endblock %}

{% block footer %}
  <script type='text/javascript'>
    $editForm = $('#edit-form');
    $editForm.delegate('.ajax_select_del', 'click', function(e) {
      e.preventDefault();
      var $instance = $(this).closest('li');
      if ($instance.hasClass('ajax_deleted')) {
        $instance.removeClass('ajax_deleted');
        $(this).html('x');
        $instance.find('input').removeAttr('disabled');
      } else {
        $instance.addClass('ajax_deleted');
        $(this).html('(undo delete)');
        $instance.find('input').attr('disabled', 'disabled');
      }
    });

    $editForm.find('.ajax_add_key_input').keydown(function(e) {
      if (e.keyCode === 13) {
        $(this).closest('.ajax_add_value').find('.ajax_add_submit_input').click();
        e.preventDefault();
        e.stopPropagation();
      }
    });
    $editForm.find('.ajax_add_submit_input').click(function(e) {
      e.preventDefault();
      var $self = $(this),
          $ajaxSelect = $self.closest('.ajax_select'),
          $input = $self.closest('.ajax_add_value').find('.ajax_add_key_input');
      if (!$input.val()) {
        return;
      }
      var $item = '<li><input type=hidden name="' + $ajaxSelect.data('name') + '" value="' + $input.val()  + '"/>' +
                  '<span>Key: ' + $input.val() + '</span> ' +
                  '<a href="#" class="ajax_select_del">x</a></li>';
      $ajaxSelect.find('.ajax_select_values').append($item);
      $input.val('');
    });
  </script>
{% endblock %}
