{% extends 'admin_base.html' %}

{% block content %}
  <h2>
    <a href='{{ uri_for('index') }}'>Admin</a> ::
    <a href='{{ uri_for('list', model_name=model_name) }}'>{{ model_name }}</a> ::
{% if item %}
    <a href='{{ uri_for('edit', model_name=model_name, key=item.key()) }}'>{{ item }}</a>
{% else %}
    New {{ model_name }}
{% endif %}
  </h2>
{% if item %}
  <p class='create-new'><a href='{{ uri_for('new', model_name=model_name) }}'>Create new</a></p>
  {% if item.get_absolute_url %}
    <p><a href='{{ item.get_absolute_url() }}'>View &raquo;</a></p>
  {% endif %}
  ----------
{% endif %}
<!-- Editable properties -->
<form id='edit-form' method='post'
      action='{% if item %}{{ uri_for('edit', model_name=model_name, key=item.key()) }}{% else %}{{ uri_for('new', model_name=model_name) }}{% endif %}'
    {% if item_form.enctype %}enctype='{{ item_form.enctype }}'{% endif %}>
{% if item_form.errors %}
  <h3>Errors</h3>
  {{ item_form.errors|safe }}
{% endif %}
  <table class='admin-form'>
    <tr>
        <td colspan='2'><h3>Editable properties</h3></td>
    </tr>
{% for field in item_form %}
    <tr>
      <td>{{ field.label_tag()|safe }}:</td>
      <td>
        {% if field.errors %}
          {{ field.errors|safe }}
        {% endif %}
        {{ field|safe }}
      </td>
    </tr>
{% endfor %}
{% if item %}
    <!-- Dynamic properties -->
    <tr>
      <td colspan='2'><h3>Dynamic properties (specific to this instance)</h3></td>
    </tr>
{% for prop, field in item_form.dynamic_properties.items() %}
    <tr>
      <td>{{ field.verbose_name }}:</td>
      <td>
  {% if field.typeName == 'BlobProperty' %}
    {% if field.value %}
        <a href='{{ uri_for('blob', model_name=model_name, field_name=field.name, key=item.key()) }}'>File uploaded: {{ field.meta.File_Name }}</a>
    {% else %}
        None
    {% endif %}
  {% else %}
    {{ field.form_field|safe }}
  {% endif %}
      </td>
    </tr>
{% endfor %}
{% endif %}{# item #}
    <tr>
      <td>&nbsp;</td>
      <td>
        <div style='float:left; clear:left;' class='okButton'>
          <input type='submit' value='OK'/>
        </div>
{% if item %}
        <div style='float:right; clear:right;' class='deleteButton'>
          <a href='{{ uri_for('delete', model_name=model_name, key=item.key()) }}' onclick='return confirm('Are you sure?');'>Delete</a>
        </div>
{% endif %}
      </td>
    </tr>
    <!-- Readonly properties -->
    <tr>
        <td colspan='2'><h3>Read-only properties</h3></td>
    </tr>
{% for field in readonly_properties %}
    <tr>
      <td>{{ field.verbose_name }}:</td>
      <td>
  {% if field.typeName == 'BlobProperty' %}
    {% if field.value %}
          <a href='{{ self.uri_for('blob', model_name=model_name, field_name=field.name, key=item.key()) }}'>File uploaded: {{ field.meta.File_Name }}</a>
    {% else %}
          None
    {% endif %}
  {% else %}
          {{ field.value }}
  {% endif %}
      </td>
    </tr>
{% endfor %}
</table>
</form>
{% endblock %}

{% block footer %}
  <script type='text/javascript'>
    $item_form = $('#edit-form');
    $item_form.delegate('.ajax_select_del', 'click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      var $instance = $(this).closest('li');
      var $pagedSelector = $instance.closest('.ajax_select').find('.paged_selector');
      if (!$pagedSelector.is(':visible')) {
        $pagedSelector.show();
      }
      $instance.find('input')
          .attr('disabled', 'disabled').end()
        .find('.ajax_select_del')
          .removeClass('ajax_select_del').addClass('paged_selector_add')
          .html('add').end();
      $instance.prependTo($pagedSelector);
    });

    $item_form.find('.ajax_add_key_input').keydown(function(e) {
      if (e.keyCode === 13) {
        $(this).closest('.ajax_add_value').find('.ajax_add_submit_input').click();
        e.preventDefault();
        e.stopPropagation();
      }
    });
    $item_form.find('.ajax_add_submit_input').click(function(e) {
      e.preventDefault();
      var $self = $(this),
          $ajaxSelect = $self.closest('.ajax_select'),
          $input = $self.closest('.ajax_add_value').find('.ajax_add_key_input');
      if (!$input.val()) {
        return;
      }
      var $item = '<li><input type=hidden name="' + $ajaxSelect.data('name') + '" value="' + $input.val()  + '"/>' +
                  '<span>Key: ' + $input.val() + '</span> ' +
                  '<a href="#" class="ajax_select_del">x</a></li>';
      $ajaxSelect.find('.ajax_select_values').append($item);
      $input.val('');
    });


    {# paged selector code #}
    $('.open_paged_selector').click(function(e) {
      e.preventDefault();
      $(this).closest('.ajax_paged_selector').find('.paged_selector').slideToggle();
    });

    $('.paged_selector').delegate('.paged_selector_add', 'click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      var $item = $(this).closest('li');
      $item.find('.paged_selector_add')
          .removeClass('paged_selector_add').addClass('ajax_select_del')
          .html('x').end()
        .find('input').removeAttr('disabled');
      $item.appendTo($item.closest('.ajax_select').find('.ajax_select_values'));
    });

    {# TODO: skip existing objects #}
    $('.paged_selector_next').click(function(e) {
      e.preventDefault();
      var $self = $(this),
          $thisItem = $self.closest('li');
          TEMPLATE = $thisItem.closest('.ajax_select').find('.ajax_select_item_template').html();
      $.ajax({
        url: $self.attr('href'),
        dataType: 'json',
        type: 'GET',
        success: function(data) {
          var item, $selectItem;
          for (var i in data) {
            item = data[i];
            if (item.hasOwnProperty('next_url')) {
              if (item.next_url) {
                $self.attr('href', item.next_url + '&ajax_mini_page=1');
              } else {
                $thisItem.hide();
              }
              continue;
            }
            $selectItem = $(TEMPLATE.replace('%class_name%', item.model_name))
              .find('input')
                .val(item.key).end()
              .find('span > a')
                .html(item.name).attr('href', item.edit_url).end()
              .insertBefore($thisItem);
          }
        }
      });
    });
    {# END paged selector code #}
  </script>
{% endblock %}
