{% extends 'admin_base.html' %}

{% set breadcrumbs = [(uri_for('list', model_name=model_name), model_name)] %}

{% block content %}
  <div class='btn-group pull-right'>
    <a href='{{ uri_for('new', model_name=model_name) }}'><div class='btn'>New {{ model_name }}</div></a>
  </div>
  <h1>Browse {{ model_name }}s</h1>
  <table class='table table-striped table-bordered table-hover'>
    <thead>
    <tr>
{% for property in list_properties %}
      <th>{{ property.verbose_name }}</th>
{% endfor %}
      <th> </th>
    </tr>
    </thead>
    <tbody>
{% for item in items %}
    <tr>
  {% for property in item._list_properties_copy %}
    {% if loop.first %}
      <td><a href='{{ uri_for('edit', model_name=model_name, key=item.key()) }}'>
      {% if property.typeName == 'BlobProperty' %}
        Binary content
      {% else %}
        {{ property.value|escape }}
      {% endif %}
      </a></td>
    {% else %}
      <td>
        {% if property.typeName == 'BlobProperty' %}
          {% if property.value %}
        <a href='{{ uri_for('blob', model_name=model_name, field_name=property.name, key=item.key()) }}'>File uploaded: {{property.meta.File_Name}}</a>
          {% else %}
        None
        {% endif %}
      {% else %}
        {{ property.value|escape }}
      {% endif %}
      </td>
    {% endif %}
  {% endfor %}
      <td>
        <form class='mini-form' action='{{ uri_for('delete', model_name=model_name, key=item.key()) }}' method='POST' onsubmit='return confirm("Are you sure you want to delete this item?");'/>
          <button type='submit' name='delete' class='btn btn-mini btn-warning'>Delete</button>
        </form>
      </td>
    </tr>
{% endfor %}
    </tbody>
  </table>
  <!-- paging -->
  <div class='pagination'>
    <ul>
      <li{% if not page.has_previous() %} class='disabled'{% endif %}>
        <a href='{{ page.get_previous_url() or '#' }}'>Previous page</a>
      </li>
      <li{% if not page.has_next() %} class='disabled'{% endif %}>
        <a href='{{ page.get_next_url() or '#' }}'>Next page</a>
      </li>
    </ul>
  </div>
  <!-- END paging -->
{% endblock %}
